NEXT_PUBLIC_SITE_URL=http://mustafa-ahmad.com

# Resend API Configuration
RESEND_API_KEY=re_your_api_key_here
RESEND_TO_EMAIL=mustafa.ahmad.work@gmail.com
RESEND_FROM_EMAIL=Mustafa Portfolio <onboarding@resend.dev>
